ICON 1 G:\SIBYL\Progs\Cribbage\Cribbage.ICO
BITMAP 1000 G:\SIBYL\Progs\Cribbage\Images\Blank.BMP
BITMAP 1001 G:\SIBYL\Progs\Cribbage\Images\EmptyPeg.BMP
BITMAP 1002 G:\SIBYL\Progs\Cribbage\Images\BluePeg.BMP
BITMAP 1003 G:\SIBYL\Progs\Cribbage\Images\RedPeg.BMP
BITMAP 1004 G:\SIBYL\Progs\Cribbage\Images\Arrow.BMP
