ICON 1 G:\SIBYL\Progs\Cribbage\CribbageW.ICO
BITMAP 1000 G:\SIBYL\Progs\Cribbage\Win_Imgs\Blank.BMP
BITMAP 1001 G:\SIBYL\Progs\Cribbage\Win_Imgs\EmptyPeg.BMP
BITMAP 1002 G:\SIBYL\Progs\Cribbage\Win_Imgs\BluePeg.BMP
BITMAP 1003 G:\SIBYL\Progs\Cribbage\Win_Imgs\RedPeg.BMP
BITMAP 1004 G:\SIBYL\Progs\Cribbage\Win_Imgs\Arrow.BMP
